* {
    padding: 0px;
    margin: 0px;
  }
   body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
h1, h2 {
    font-family:SuisseWorks
}
#header {
        display: flex;
        background: white;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        margin: 0px;
        padding: 0px;
    }
    #udemy_logo  {
        width: 100px;
        border: 1px solid white ;
        height: 50px;
    }
    #search_box > input{
        flex-grow: 2;
        border: 0px solid black;
        width: 95%;
        height: 30px;
        margin-right:15px;
        /* border-radius: 30px; */
        outline:none;
    }
    .search-btn {
        width: 20px;
        height: 20px;
    }
    #search_box {
        flex-grow: 2;
        margin-bottom: 1%;
        display: flex;
        margin-top: 5px;
        border: 1px solid black;
        border-radius: 40px;
    }
    .header_text {
        font-size: .9rem;
        font-weight: 400;
        line-height: 1.4;
        margin-top: 20px;
    }
    
   #sign_up {
       background: #1c1d1f;
       border: 1px solid black;
       width: 90px;
       margin: 10px 3px;
       font-weight: bold;
       font-size: 0.8rem;
   }
   #log_in {
       background: white;
       border: 1px solid black;
       width: 90px;
       margin: 10px auto;
       font-weight: bold;
       font-size: 0.8rem;
   }
   #cart {
       background: white;
       border: 0px solid black;
   }
   #cart > img {
    width: 30px;
       height: 30px;
   }
   #globe {
    background: white;
       border: 1px solid black;
       margin: 10px 3px;
   }
   #globe >img {

    width: 20px;
       height: 20px;
   }
   * {
        margin: 5px;
    }

#sign_up_page{
display: grid;
align-items: center;
gap: 2%;
margin-left: 35%;
margin-right: 35%;

}
#top{
display: grid;
grid-template-rows: 10% 70%;
gap: 15%;
}
.already{
/* align-items: center; */
display: flex;
gap: 2%;
text-align: center;

}
.name{
padding: 3%;
font-size: 20px;
}
.sign{
padding: 3%;
background-color:#a435f0;
color: white;
font-weight: 700;
font-size: 20px;
border: none;
}
.color_1{
/* color: black; */
text-decoration: none;
}
#footer {
background-color: rgb(22, 21, 21);
margin:0px;
width:100%;
height:450px;
/* border:1px solid black; */
margin-top:5%;


}
#footer {

margin-top:150px;
}
.flex-bo {
display: flex;
flex-direction: row;
gap:8%;

}
.flex-bo h2 {
color:white;
margin:6% 4%;
font-size: 20px;

width:100%;
margin-right:10%
}
.flex-image {
display:flex;
flex-direction: row;
margin: 1% 2%;

width:40%;
}
.flex-image img {
margin:3%;

}

.logo-img > img {
width:6%;
float:left;
margin-left:3%;
margin-bottom:3%;

}
.logo-img > div{
float:right;
color:white;
margin-right:3%;
}
.footer-link {
display: grid;
margin:20px 20px 30px 30px;
width:60%;
grid-template-columns:28% 28% 28%;
grid-template-rows: 10% 10% 10% 10% 10%;
gap:5%;
color:white;
/* border: 3px solid white */

}
.footer-link >div:nth-child(12) {
grid-row-start: 5;
}
#log_in > a {
    color:black;
    text-decoration: none;
}
#sign_up > a {
    color:white;
    text-decoration: none;
}
html,body {
    height:100%;
}