*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    background-color: rgb(255,255,255);
    width: 100%;
    /* border: 2px dotted powderblue; */
}

a{
    text-decoration: none;
    color:black;
}

/* ------------------------HEADER--------------------------------------- */
.navbarsz{ 
    display: flex; 
    justify-content:space-around;
    align-items: center;
    /* border: 2px dotted red; */
    padding: 10px 20px;
    box-shadow: 1px 1px 5px grey;
    width: 100%;
    height: 71px;
}

.navbarsz > .navsz1{
display: flex; 
justify-content:space-around;
align-items: center;
width: 15%;
}

.navbarsz > .navsz2{
width: 50%;
}

.navbarsz > .navsz3{
display: flex; 
justify-content:space-around;
align-items: center;
width: 35%;
}

.navbarsz > div > a>span:hover{
cursor: pointer;
color:RGB(86, 36, 208);
} 




#imgslogo1{
    width: 90px;
    height: 35px;
    cursor: pointer;
    margin-right: 15px;
}

#searchIcon{
    font-size: 24px;
    position: absolute;
    z-index: 3;
    margin-left: 50px;
    margin-top: 12px;
    color: rgb(100, 100, 100);
    
}

#search{
    position: relative;
    z-index: 2;

    background-color: rgb(247,249,250);
    height: 50px;
    border-radius: 100px;
    
    padding-left: 55px;
    border: 1px solid black;

    font-size: 14px;
    line-height: 19.6px;
    font-weight: 400;

    width: 90%;
    margin-right: 5px;
    margin-left: 30px;
    overflow: hidden;
}


#search:focus{
    background-color: rgb(247,249,250);
    font-size: 14px;
}

#sz4{
border: 1px solid black;
padding: 8px 17px;
font-weight: 600;
}

#sz4:hover{
background-color: rgba(236, 236, 236, 0.803);
color: black;
}

#sz5{
border: 1px solid black;
padding: 8px 17px;
background-color: black;
color: white;
font-weight: 600;
}

#sz6{
border: 1px solid black;
padding: 5px 6px;
}
#sz6:hover{
background-color: rgba(236, 236, 236, 0.803);
color: black;
}



/* login login login login login login login login login login login login */

/* for before login comment none */
.navbarsz{
    display: none;
}

.jshv1q{
    /* border: 2px dotted darkblue; */
    position: relative;
    top: 23px;
    height: 60px;
    cursor: pointer;
}
.jshv1q>a:hover{
    color:RGB(86, 36, 208);
}

.navbarsz-onlogin{ 
    display: flex; 
    justify-content:space-around;
    align-items: center;
    /* border: 2px dotted red; */
    padding: 10px 20px;
    box-shadow: 1px 1px 5px grey;
    width: 100%;
    height: 71px;
}

.navbarsz-onlogin > .navsz1{
display: flex; 
justify-content:space-around;
align-items: center;
width: 15%;
}

.navbarsz-onlogin > .navsz2{
width: 50%;
}

.navbarsz-onlogin > .navsz3{
display: flex; 
justify-content:space-around;
align-items: center;
width: 35%;
}

.navbarsz-onlogin > div > a>span:hover{
cursor: pointer;
color:RGB(86, 36, 208);
} 

/* after login comment display */
.navbarsz-onlogin{
    display: none;
}

/* login login login login login login login login login login login login */

/* on bigger screen off the smaller view */
.navbarsz2{
    display: none;
}


/* ----------------xxx--------HEADER----------------------xxx----------------- */




/*------------------HEADER ALL HOVER EFFECT------------------*/

/* ---------------------------------------------- */
/* element -- Udemy Business and tech */

#sz-7, #sz-8{
    /* border: 2px dotted darkblue; */
    position: relative;
    cursor: pointer;
    padding-bottom: 35px;
}



.missh1{
    display: none;
    position: absolute;
    z-index: 22;
    top:75px;
    height: 150px;
    width: 290px;
    right: 425px;
    background-color: white;
    /* border: 1px dotted darkblue; */
    padding: 10px;
}
.missh1 > div >p {
    text-align: center;
    font-size: 19px;
    font-weight: 700;
    color: #000000;
    font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";;
    line-height: 22.8px;
    margin-bottom: 10px;
}


#hbt1{
display: block;
text-align: center;
padding: 10px 25px 10px 25px;
background-color: black;
color: white;
font-size: 18px;
font-weight: 600;
cursor: pointer;
margin: auto;
width: 100%;
}


.missh2{
    display: none;
    position: absolute;
    z-index: 22;
    top:75px;
    height: 150px;
    width: 290px;
    right: 200px;
    background-color: white;
    /* border: 1px dotted darkblue; */
    padding: 10px;
}
.missh2 > div >p {
    text-align: center;
    font-size: 19px;
    font-weight: 700;
    color: #000000;
    font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";;
    line-height: 22.8px;
    margin-bottom: 10px;
}



#hbt2{
display: block;
text-align: center;
padding: 10px 25px 10px 25px;
background-color: black;
color: white;
font-size: 18px;
font-weight: 600;
cursor: pointer;
margin: auto;
width: 100%;
}

/* ------------------------------------------------ */

/* element ---- cart */
#ssz1p{
    /* border: 2px dotted darkblue; */
    position: relative;
    /* z-index: 20; */
    cursor: pointer;
    padding-bottom: 25px;
    top: 15px;
}


.carthq1{
    display: none;
    position: absolute;
    z-index: 22;
    top:75px;
    height: fit-content;
    width: 290px;
    right: 150px;
    background-color: rgb(255, 255, 255);
    /* border: 1px dotted darkblue; */
    padding: 10px;
    margin: auto;
}

.carthq2{
    padding: 10px;
    text-align: center;
}

#thq1{
 text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #4e4e4e;
    font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";;
    line-height: 22.4px;
    margin-bottom: 10px;
}

#thq2{
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color:RGB(86, 36, 208);
    font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";;
    line-height: 16.8px;
    margin-bottom: 10px;
}

/* --------------after login some of the hover--------------- */



#jjj1{
        /* border: 2px dotted darkblue; */
    position: relative;
    /* z-index: 20; */
    cursor: pointer;
    padding-bottom: 32px;
    top: 0px;
}

.jii1{
    display: none;
    position: absolute;
    z-index: 22;
    top:75px;
    height: 150px;
    width: 290px;
    right: 425px;
    background-color: white;
    /* border: 1px dotted darkblue; */
    padding: 10px;
    box-shadow: 1px 1px 5px gray;
}
.jii1 > div >p {
    text-align: center;
    font-size: 19px;
    font-weight: 700;
    color: #000000;
    font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";;
    line-height: 22.8px;
    margin-bottom: 10px;
}


#jhbt1{
display: block;
text-align: center;
padding: 10px 25px 10px 25px;
background-color: black;
color: white;
font-size: 18px;
font-weight: 600;
cursor: pointer;
margin: auto;
width: 100%;
}


#jjj2{
        /* border: 2px dotted darkblue; */
    position: relative;
    /* z-index: 20; */
    cursor: pointer;
    padding-bottom: 30px;
    top: 0px;
}

.jii2{
    display: none;
    position: absolute;
    z-index: 22;
    top:75px;
    height: fit-content;
    width: 310px;
    right: 230px;
    background-color: white;
    /* border: 1px dotted darkblue; */
    padding:10px;
    box-shadow: 1px 1px 5px gray;
}

.goa2{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    margin-bottom: 10px;
}

#goa3{
    display: flex;
    margin: auto;
    width: 100px;
    height: 100px;
    /* margin-top: 10px; */
}

#goa4{
    /* width: auto; */
    padding: 4px;
    /* margin: auto; */
    overflow: hidden;
    height: 55px;
    font-size: 14px;
    font-weight: 700;
    font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
    line-height: 16.8px;
    letter-spacing: -0.2;
    color:#1C1D1F;
}







#jjj3{
        /* border: 2px dotted darkblue; */
    position: relative;
    /* z-index: 20; */
    cursor: pointer;
    padding-bottom: 25px;
    top: 15px;
}

.jii3{
    display: none;
    position: absolute;
    z-index: 22;
    top:75px;
    height: fit-content;
    width: 310px;
    right: 130px;
    background-color: white;
    /* border: 1px dotted darkblue; */
    padding:10px;
    box-shadow: 1px 1px 5px gray;
}

.goa6{
    display: flex;
    overflow: hidden;
    padding: 5px;
}

#goa7{
    width: 80px;
}
#goa7i{
    display: block;
    margin:auto;
    padding: 5px;
}

#goa8{
font-weight: 700;
font-size: 16px;
color: black;
margin-bottom: 5px;
}
#goa9{
    color: gray;
    font-size: 14px;
    letter-spacing: -0.5;
    margin-bottom: .1px;
}
#goa10{
    font-size: 18px;
    color: black;
    font-weight: 700;
}
#goa10i{
    font-size: 16px;
    color: black;
    font-weight: 700;
}
#goa11{
    font-size: 16px;
    color: rgb(125, 125, 125);
    text-decoration: line-through;
}
#goa11i{
    font-size: 13px;
    color: rgb(125, 125, 125);
    text-decoration: line-through;
}
#goa12{
    width: 100%;
    background-color: white;
    padding: 5px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    cursor: pointer;
}
#goa12:hover{
    background-color: #6a6f7329;
}


#jjj4{
    /* border: 2px dotted darkblue; */
    position: relative;
    /* z-index: 20; */
    cursor: pointer;
    padding-bottom: 25px;
    top: 15px;
}



#jjj5{
        /* border: 2px dotted darkblue; */
    position: relative;
    /* z-index: 20; */
    cursor: pointer;
    padding-bottom: 25px;
    top: 15px;
}

.jii5{
    display: none;
    position: absolute;
    z-index: 22;
    top:75px;
    height: fit-content;
    width: 310px;
    right: 60px;
    background-color: white;
    /* border: 1px dotted darkblue; */
    padding:10px;
    box-shadow: 1px 1px 5px gray;
}


.goa6a{
    display: flex;
    overflow: hidden;
    padding: 5px;
}

#goa7a{
    width: 80px;
}
#goa7ia{
    display: block;
    margin:auto;
    padding: 5px;
}

#goa8a{
font-weight: 700;
font-size: 16px;
color: black;
margin-bottom: 5px;
}
#goa9a{
    color: gray;
    font-size: 14px;
    letter-spacing: -0.5;
    margin-bottom: .1px;
}
#goa10a{
    font-size: 18px;
    color: black;
    font-weight: 700;
}
#goa10ia{
    font-size: 16px;
    color: black;
    font-weight: 700;
}
#goa11a{
    font-size: 16px;
    color: rgb(125, 125, 125);
    text-decoration: line-through;
}
#goa11ia{
    font-size: 13px;
    color: rgb(125, 125, 125);
    text-decoration: line-through;
}

#total0{
    font-size: 30px;
    font-weight: 600;
}
#total0i{
    font-size: 30px;
    font-weight: 550;
}


#jjj6{
    /* border: 2px dotted darkblue; */
    position: relative;
    cursor: pointer;
    padding-bottom: 18px;
    top: 14px;
}

.jii6{
    display: none;
    position: absolute;
    z-index: 22;
    top:75px;
    height: fit-content;
    width: 310px;
    right: 20px;
    background-color: rgb(255, 255, 255);
    /* border: 1px dotted darkblue; */
    padding:16px;
    overflow: hidden;
    font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
    box-shadow: 1px 1px 5px gray;
}

.mica1{
    display: flex;
}

#mica2{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

#mica3{
    margin-left: 10px;
    
}
#mica3 >p:nth-child(1){
font-size: 18px;
font-weight: 600;
}
#mica3 >p:nth-child(2){
    font-size: 12px;
    letter-spacing: -0.9px;
    color: #707070;
    margin-top: -2px;
}

.jii6 > div >div >a >p {
    color: red;
    font-size: 16px;
    line-height: 14px;
    color: rgb(77, 77, 77);
    margin: 18px 0;
    letter-spacing: -0.7px;
    cursor: pointer;
}

.jii6 > div >div > a > p:hover{
    color: blue;
}



/* --------XXXX------after login some of the hover -----XXXXXXXX*/

/* ---------count of added item in to the cark-----------*/
.cartcount1{
display: none;
position: absolute;
z-index: 55;
top: 14px;
right: 105px;
background-color: blue;
color: white;
padding: 1px 5px 5px 10px;
border-radius: 45px;
width: 25px;
height: 20px;
font-weight: 600;
cursor: pointer;
}
/* ----xxx---count of added item in to the cark----xxx---*/


/* ------------------------------------------------------------ */

/* element -- category */
.jshv1{
    /* border: 2px dotted darkblue; */
    position: relative;
    top: 23px;
    height: 60px;
    cursor: pointer;
}
.jshv1>a:hover{
    color:RGB(86, 36, 208);
}


/* first hover box */
.sxhover1{
    display: none;
    position: absolute;
    z-index: 10;
    top:75px;
    left: 150px;
    background-color: white;
    /* border: 2px dotted rgb(34, 136, 150); */
    width: 280px;
    height: 550px;
    box-shadow: 1px 1px 8px grey;
    /* padding: 20px 5px 20px 20px; */
}

/* content appended init and present inside .sxhover1 */
.sxhv1{

}


/* used in js -- div to keep content and then append in .sxhv1 */
.sxhv2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 12px; */
    /* border: 1px dotted blue; */
    padding: 20px 5px 20px 20px;
    height: 35px;

    font-size: 14px;
    font-weight: 400;
    font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
    line-height: 20px;
    color: rgb(50, 50, 50);
    cursor: pointer;
}

.sxhv2:hover{
    color:RGB(86, 36, 208);
}




/* second hover box */
.sxhover1i{
    display: none;
    position: absolute;
    z-index: 10;
    top:75px;
    left: 425px;
    background-color: white;
    /* border: 2px dotted rgb(34, 136, 150); */
    width: 280px;
    height: 550px;
    box-shadow: 0px 1px 3px grey;
    /* padding: 20px 5px 20px 20px; */
}

/* content appended init and present inside .sxhover1 */
.sxhv1i{

}


/* used in js -- div to keep content and then append in .sxhv1 */
.sxhv2i{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 12px; */
    padding: 20px 5px 20px 20px;
    height: 35px;
    /* border: 1px dotted darkblue; */

    font-size: 14px;
    font-weight: 400;
    font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
    line-height: 20px;
    color: rgb(53, 53, 53);
    cursor: pointer;
}

.sxhv2i:hover{
    color:RGB(86, 36, 208);
}


/* third hover box */
.sxhover1ii{
    display: none;
    position: absolute;
    z-index: 10;
    top:75px;
    left: 705px;
    background-color: white;
    /* border: 2px dotted rgb(34, 136, 150); */
    width: 280px;
    height: 550px;
    box-shadow: 0px 1px 3px grey;
    padding: 0px 3px 0px 0px;
}

/* content appended init and present inside .sxhover1 */
.sxhv1ii{

}


/* used in js -- div to keep content and then append in .sxhv1 */
.sxhv2ii{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 12px; */
    padding: 20px 5px 20px 20px;
    height: 35px;
    border: 1px dotted darkblue;

    font-size: 14px;
    font-weight: 400;
    font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
    line-height: 20px;
    color: rgb(85, 85, 85);
    cursor: pointer;
}

.sxhv2ii:hover{
    color:RGB(86, 36, 208);
}




/*------XXX---------HEADER ALL HOVER EFFECT-------XXX--------*/


/*-----------Before login Search result page----------------*/


.searchr1{
    display: none;
    position: absolute;
    width: 100%;
    top: 75px;
    z-index: 100;
    height: 550%;
    /* height: fit-content; */
    background-color: white;
    padding: 30px;
}

.searchr2{
    
}

.searchr3{
display: block;
}

#gif1{
    display: block;
    margin: auto;
    /* border:1px dotted red; */
    width: 40%;

}

.searchr4{
display: none;
}

.inpval1{
    color:#401b9c;
}

/*---XXX-----Before login Search result page------XXX-------*/



/* ----------carousel effect--------------------------- */

.crl1{
    width: 100%;
    /* border: 2px dotted red; */
    overflow: hidden;
    /* height: 350px; */
    /* height: fit-content; */
    margin-top: 2px;
}

.crl2{
    display: block;
    margin: auto;
    cursor: pointer;
    width: 90%;
    /* height: 350px; */
}

.crlcard1{
position: absolute;
z-index: 0;
padding:25px;
margin: -325px 0 0px 140px;
width: 400px;
/* border: 2px dotted rgb(0, 153, 13); */
box-shadow: 1px 1px 7px grey;
background-color: white;
height: 190px;
overflow: hidden;
}


#crltx1{
/* border: 1px dotted rgb(207, 20, 20); */
margin-bottom: 8px;
font-weight: 700;
font-size: 32px;
line-height: 40px;
color: #1c1d1f;
font-family: SuisseWorks, Georgia, Times, "times new roman", serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
}

#crltx2{
/* border: 1px dotted rgb(20, 219, 33); */
font-weight: 500;
font-size: 15px;
line-height: 22px;
color: #1c1d1f;
font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
}


/* left and right hover buttons */

.hbtnlr1{
    width: 100%;
    /* border: 2px dotted green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5.4%;
    position: absolute;
    z-index: 2;
    top: 240px;
}

.hbtnlr1 > div > span {
    background-color:black;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    color: white;
    padding: 9px;
    font-size: 22px;
    cursor: pointer;
}


/* ---xxx----carousel effect-------------xxx----------- */


/*----------------------------------Mid section content--------------- */

/* main div for mid content */
.Contentsn1{
width: 100%;
height: fit-content;
/* overflow:hidden; */
}

/* ----------------------------------------------------- */

/* 1 */
.consn2{
    /* border: 2px dotted rgb(255, 0, 200); */
    width: 86%;
    margin: auto;
}

.consn3{
position: absolute;
z-index: 1;
padding:25px;
margin: -325px 0 0px 50px;
width: 30%;
/* border: 2px dotted rgb(0, 153, 13); */
box-shadow: 1px 1px 7px grey;
background-color: white;
}

#sn3{
/* border: 1px dotted rgb(207, 20, 20); */
font-weight: 700;
font-size: 32px;
line-height: 40px;
color: #1c1d1f;
font-family: SuisseWorks, Georgia, Times, "times new roman", serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
}

#sn4{
/* border: 1px dotted rgb(20, 219, 33); */
font-weight: 500;
font-size: 16px;
line-height: 22px;
color: #1c1d1f;
font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
}


#sn5{
width: 100%;
position: relative;
z-index: -1;
/* border: 1px dotted rgb(255, 221, 0); */
overflow: hidden;

}


/* ----------------------------------- */
/* 2 */
.consn5{
    width: 86%;
    /* border: 3px solid powderblue; */
    padding: 50px 0 0 0;
    margin: auto;
}

#ae1{
font-size: 32px;
font-weight: 700;
color: #1c1d1f;
line-height: 40px;
font-family: SuisseWorks, Georgia, Times, "times new roman", serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
margin-bottom: 15px;
}

#ae2{
font-size: 19px;
font-weight: 400;
color: #1c1d1f;
line-height: 17px;
font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
margin-bottom: 15px;
}

#ae3{
    /* border: 2px dotted red; */
    margin-bottom: 10px;
    width: 100%;
    /* height: 24px;
    overflow: hidden; */
}

#ae3 > span{
font-size: 16px;
font-weight: 700;
color: #64666b;
line-height: 19px;
padding: 0 10px 0 5px;
font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
margin-bottom: 15px;
cursor: pointer;
}

#ae3 > span:hover{
    color: black;
}
#ae3 > #jpy{
    color: black;
}

/* #ae3i{
    position: relative;
    z-index: 1;
    float: right;
    margin-top: -25px;
    color: blue;
} */

.aex4{
    border: 1px solid rgba(151, 151, 151, 0.867);
    padding: 25px;
}

#ae4{
font-size: 24px;
font-weight: 700;
color: #1c1d1f;
line-height: 29px;
/* padding: 0 10px 0 5px; */
font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
margin-bottom: 10px;
}

#ae5{
font-size: 16px;
font-weight: 400;
color:#0c0c0c;
line-height: 22px;
/* padding: 0 10px 0 5px; */
font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
margin-bottom: 18px;
width: 64%;
}

#ae6{
    
}

#ae7{
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 5px 10px 5px;
    background-color: white;
    font-weight: 600;
    margin-bottom: 25px;
}


#ae8{
    display: flex;
    /* justify-content:flex-start; */
    overflow-x: auto;
    width: 100%;
    background-color: #ffffff37;
    /* height: 250px; */
    padding: 10px;
    position: relative;
    /*.......................Added.........................  */
}


.zoome1{
    display: block;
    /* border: 1px dotted red; */
    /* width: 900px; */
    padding: 0px;
    height: 240px;
    margin-right: 10px;
    font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";

}

#zoome2{
    width: 180px;
    height: 110px;
    margin-bottom: 10px;
    overflow: hidden;
    margin-bottom: 5px;
}

#zoome3{
    font-size: 15px;
    font-weight: 600;
    line-height: 17px;
    height: 36px;
    overflow: hidden;
    margin-bottom: 8px;
}
#zoome4{
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    overflow: hidden;
    color: gray;
    margin-bottom: 5px;
    letter-spacing: -0.2px;
    height: 32px;
}
#zoome5{
    font-size: 16px;
    font-weight: 600;
    color: rgb(201, 124, 53);
    margin-bottom: 5px;
}
#zoome6{
    /* display: inline-block; */
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 15px;
    overflow: hidden;
    color: gray;
    padding-bottom: 5px;
}
#zoome7{
    font-weight: 700;
    color: black;
    margin-right: 8px;
}

#ome7{
    font-size: 16px;
    /* vertical-align: bottom; */
    font-weight: 700;
    color: black;
}

#ratesc1{
    font-size: 19px;
    vertical-align: bottom;
}


#ome8{
    font-size: 16px;
    text-decoration: line-through;
    vertical-align: bottom;
}
#zoome8{
    text-decoration: line-through;
}







/* 3 */
.consn6{
    width: 86%;
    margin: auto;
    margin-top: 65px;
}

#ae9{
font-size: 24px;
font-weight: 700;
color: #1c1d1f;
line-height: 29px;
/* padding: 0 10px 0 5px; */
font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
margin-bottom: 18px;
}

#ae10{
 
    display: flex;
    /* justify-content:flex-start; */
    overflow-x: auto;
    width: 100%;
    background-color: #ffffff37;
    /* height: 250px; */
    padding: 10px;
    position: relative;
    margin-bottom: 20px;
}

/* 3.5 */

.cat35{
    display: block;
    width: 100%;
    margin: auto;
    /* border: 2px dotted red; */
    /* padding: 0px 90px 0 90px; */
    padding: 20px 105px 20px 105px;
}

.cat36{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px 20px;
    overflow: hidden;
}

.cat36 > div >img{
    display: block;
    width: 80%;
    margin: auto;
    cursor: pointer;
}
.cat36 > div > p{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: rgb(45, 45, 45);
}

#ae122{
    /* margin-left: 20px; */
font-size: 24px;
font-weight: 700;
color: #1c1d1f;
line-height: 29px;
/* padding: 0 10px 0 5px; */
font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
margin-bottom: 10px;
}



/* 4 */
.consn7{
    width: 100%;
    margin: auto;
    background-color: rgb(247,249,250);
    padding: 20px 105px 20px 105px;
    margin-top: 100px;
}

.ae11{

}

#ae12{
font-size: 24px;
font-weight: 700;
color: #1c1d1f;
line-height: 29px;
/* padding: 0 10px 0 5px; */
font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
margin-bottom: 18px;
}

#ae13{
display: grid;
grid-template-columns: repeat(4, 1fr);
}

#ae13 > span{
font-size: 19px;
font-weight: 700;
color: #1c1d1f;
line-height: 23px;
font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
margin-bottom: 25px;
}

.ae14{
display: grid;
grid-template-columns: repeat(4, 1fr);
}

.ae14 > div > a > span{
display: block;
font-size: 16px;
font-weight: 700;
color: #1c1d1f;
line-height: 22px;
font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
margin-bottom: 10px;
color: #5426c8;
text-decoration: underline;
}

.ae14 > div > a > span:hover{
    color: #401b9c;
}

.ae14 > div >span{
display: block;
font-size: 14px;
font-weight: 400;
color: #6a6f73;
line-height: 20px;
font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
margin-bottom: 25px;
}

#ae15{
    border:1px solid rgb(33, 33, 33);
    padding: 12px 12px 12px 12px;
    background-color:white;
    font-weight:600;
    color:rgb(44, 44, 44);
}

#ae15:hover{
    background-color:rgba(132, 132, 132, 0.115);
}


/* 5 */

.consn8{
width: 100%;
margin-top: 50px;
/* padding: 70px 100px 50px 270px; */
/* border: 2px dotted darkcyan; */
overflow: hidden;
}

#consn9{
display:flex;
justify-content:space-evenly;
align-items: center;
width: 70%;
margin: auto;
/* border: 1px solid pink; */
}

#consn10{
    /* border: 2px dotted darkgoldenrod; */
    width: 38%;
    /* margin-left: 100px; */
}

#ae16{
    width: 100%;
    /* margin-right: 95px; */
}

#ae17{
/* border: 1px dotted rgb(207, 20, 20); */
font-weight: 700;
font-size: 32px;
line-height: 40px;
color: #1c1d1f;
font-family: SuisseWorks, Georgia, Times, "times new roman", serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
margin-bottom: 8px;
}

#ae18{
font-size: 19px;
font-weight: 400;
color: #1c1d1f;
line-height: 27px;
font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
margin-bottom: 15px;
}

#ae19{
padding: 10px 10px 10px 10px;
background-color: black;
color: white;
font-size: 18px;
font-weight: 600;
cursor: pointer;
margin-top: 15px;
}

#ae19:hover{
    background-color:rgba(0, 0, 0, 0.863);
}

.hidell2{
    display: none;
}


/* 6 */

.consn11{
width: 100%;
background-color: rgb(247,249,250);
margin-top: 60px;
text-align: center;
padding: 35px 0 35px 0;
}


#consn14{
font-size: 24px;
font-weight: 700;
color: #1c1d1f;
line-height: 32px;
font-family: SuisseWorks, Georgia, Times, "times new roman", serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
margin-bottom: 8px;
}

#consn15{
font-size: 16px;
font-weight: 400;
color: #1c1d1f;
line-height: 22px;
font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
margin-bottom: 25px;
}

.consn16{
display: flex;
justify-content:space-evenly;
align-items: center;
}






/*------------xxx-------------------Mid section content-------xxx----- */




/*-----------------------------------------Footer----------------------------------------------- */

.footersiz1{
background-color: rgb(28,29,31);
color: white;
/* border: 3px dotted rgb(254, 80, 0); */
padding: 25px 40px 25px 40px;
overflow: hidden;
width: 100%;
margin-top: 50px;
}

.footbox1 {
    /* background-color: rgba(240, 255, 255, 0.336); */
    display: flex;
    justify-content:flex-start;
    padding: 0 0 50px 0;
    /* border: 2px dotted green; */
}

.footbox1 > div{
    padding: 0 130px 0 0;
}


.footbox1 > div > a >  span {
    display: block;
    padding: 6px;
    color: white;
    /* margin-right: 50px; */
    /* border: 1px dotted yellow; */
}


.footbox1 >div > a> span:hover{
text-decoration: underline;
cursor: pointer;
}

#langsz1{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    border: 1px solid white;
    height: 40px;
    padding: 8px 20px;
    position: absolute;
    right: 0;
    margin-right: 40px;
}

#go1{
    margin-right: 8px;
}

.footbox1>#langsz1:hover{
background-color: rgba(139, 174, 191, 0.182);
}  
.footbox1 >#langsz1 > span:hover{
text-decoration: none;
}  




.footbox2{
display: flex;
justify-content:space-between;
align-items: center;
padding: 15px 5px 15px 15px;
/* border: 1px dotted rgb(221, 9, 9); */
}


.footbox2 > div{
display: flex;
justify-content: center;
align-items: center;
}

#copy1{
    font-size: 14px;
}

/*---------------xxxx----------------------Footer---------------------xxxxxx-------------------- */


/*  
FONT-FAMILY:---------
font-family: SuisseWorks, Georgia, Times, "times new roman", serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";

BACKGROUND-COLOR:-------

*/

/* RESPONSIVE------------------------------------------------------------------------------------------------------- */

/* NAVBAR-----------HEADER--------------------------------------------- */
/* normal  15 50 35 */

@media all and (min-width:1050px) and (max-width: 1370px) {

    .navbarsz > .navsz1{
        width: 15%;
    }

    .navbarsz > .navsz2{
        width: 40%;
    }

    .navbarsz > .navsz3{
        width: 45%;
    }

}

@media all and (min-width:970px) and (max-width: 1110px) {

    #jjj1{
        display: none;
    }

}

@media all and (min-width:970px) and (max-width: 1050px) {

    .navbarsz > .navsz1{
        width: 15%;
    }

    .navbarsz > .navsz2{
        width: 45%;
    }

    .navbarsz > .navsz3{
        width: 40%;
    }

    #imgslogo1{
        margin-left: 20px;
    }

    #sz-7{
        display: none;
    }

    #jjj1{
        display: none;
    }

}

@media all and (min-width:820px) and (max-width: 970px) {

    .navbarsz > .navsz1{
        width: 20%;
    }

    .navbarsz > .navsz2{
        width: 50%;
    }

    .navbarsz > .navsz3{
        width: 30%;
    }

    #imgslogo1{
        margin-left: 20px;
    }

    #sz-7{
        display: none;
    }

    #sz-8{
        display: none;
    }

    #jjj1{
        display: none;
    }

    #jjppa{
        display: none;
    }

}

@media all and (max-width:820px) {

    .navbarsz{
        display: none;
    }
    
    .navbarsz-onlogin{
        display: none;
    }

    .navbarsz2{
    display: flex; 
    justify-content:space-between;
    align-items: center;
    /* border: 2px dotted red; */
    padding: 16px 20px;
    box-shadow: 1px 1px 5px grey;
    width: 100%;

    position: absolute;
    top: 0;
    background-color: white;
    z-index: 25;
    }

    .navbarsz2 > div {
        cursor: pointer;
    }

    .cartcount1{
        background-color: white;
    }
    #itemsincart1{
        display: none;
    }

}
/* NAVBAR------------------HEADER---------------------------------- */


@media all and (max-width:1350px) {

    .consn2{
    /* border: 2px dotted rgb(0, 112, 129); */
    width: 100%;
    margin: auto;
    }

    .consn3{
        position: absolute;
        z-index: 1;
        padding:25px;
        margin: -320px 0 0px 50px;
        width: 35%;
        /* border: 2px dotted rgb(0, 153, 13); */
        /* box-shadow: 1px 1px 7px grey; */
        background-color: white;
    }

}

@media all and (max-width: 1130px) {

    .consn3{
        margin: -250px 0 0px 50px;
    }


}

@media all and (max-width: 890px) {

            .consn3{
        position: relative;
        z-index: 0; 
        padding:10px;
        margin: 10px 0 0 0px;
        width: 100%;
        /* border: 2px dotted rgb(0, 0, 0); */
        box-shadow: 0 0 0 gray;
        }

        #sn3{
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
            color: #1c1d1f;
            font-family: SuisseWorks, Georgia, Times, "times new roman", serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";

        }

        #sn4{
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #1c1d1f;
            font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
        }

}


/*------------carousel---responsiveness-----------------------------*/
@media all and (min-width:1080px) and (max-width: 1280px) {
    .crlcard1{
        margin: -275px 0 0px 140px;
        width: 350px;
        padding: 20px;
        height: 180px;
        padding: 22px;
    }

    .hbtnlr1{
            top: 210px;
    }
}

@media all and (min-width:950px) and (max-width: 1080px) {
    .crlcard1{
        margin: -230px 0 0px 120px;
        width: 350px;
        padding: 10px;
        height: 150px;
    }

        .hbtnlr1{
            top: 180px;
    }
}

@media all and (max-width: 950px) {

    .crl1{
        width: 100%;
        /* border: 2px dotted red; */
        overflow: hidden;
        max-height: 335px;
    }

    .crlcard1{
        padding: 1px;
        position: relative;
        display: block;
        width: 90%;
        margin: auto;
        margin-top: 0px;
        box-shadow: 1px 1px 7px rgb(255, 255, 255);
        
    }

    .crl2{
        height: 250px;
    }

    #crltx1{
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 1px;
    }

    #crltx2{
    font-size: 14px;
    }


    .hbtnlr1{
        top: 190px;
    }

}
    /*-------------xxxx------carousel---responsiveness------xxx-----*/



/* mid-content */

@media all and (max-width: 1000px) {


    /* 4 */
    .consn7{
        width: 100%;
    margin: auto;
    background-color: rgb(247,249,250);
    padding: 5px 5px 5px 15px;
    margin-top: 100px;
    }

    /* 5, 7, 8*/
        .consn8{
    width: 100%;
    margin-top: 50px;
    /* border: 2px dotted darkcyan; */
    overflow: hidden;
    margin: auto;
    text-align: center;
    }
    
    #consn9{
    display:block;
    width: 63%;
    margin: auto;
    /* border: 1px solid pink; */
    margin-top: 50px;
    }
    
    
    #ae16{
        width: 80%;
        margin: auto;
    }
    
    #consn10{
        width: 100%;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 30px;
    }
    
    .hidell1{
        display: none;
    }
    
    .hidell2{
        display: block;
    }


    /* 6 */
    .consn16{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    

}


/* footer */

@media all and (max-width: 830px) {

    .footbox1 {
        display: block;
    }

    #langsz1{
        position: relative;
        width: 150px;
        margin-bottom: 20px;
    }

    .footbox2 {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        padding: 0;
    }

}