*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    background-color: rgb(255,255,255);
    width: 100%;
    /* border: 2px dotted powderblue; */
}

a{
    text-decoration: none;
    color:black;
}

/* ------------------------HEADER--------------------------------------- */
.navbarsz{ 
    display: flex; 
    justify-content:space-around;
    align-items: center;
    /* border: 2px dotted red; */
    padding: 10px 20px;
    box-shadow: 1px 1px 5px grey;
    width: 100%;
}

.navbarsz > .navsz1{
display: flex; 
justify-content:space-around;
align-items: center;
width: 15%;
}

.navbarsz > .navsz2{
width: 50%;
}

.navbarsz > .navsz3{
display: flex; 
justify-content:space-around;
align-items: center;
width: 35%;
}

.navbarsz > div > a>span:hover{
cursor: pointer;
color:RGB(86, 36, 208);
} 




#imgslogo1{
    width: 90px;
    height: 35px;
    cursor: pointer;
    margin-right: 15px;
}

#searchIcon{
    font-size: 24px;
    position: absolute;
    z-index: 3;
    margin-left: 50px;
    margin-top: 12px;
    color: rgb(100, 100, 100);
    
}

#search{
    position: relative;
    z-index: 2;

    background-color: rgb(247,249,250);
    height: 50px;
    border-radius: 100px;
    
    padding-left: 55px;
    border: 1px solid black;

    font-size: 14px;
    line-height: 19.6px;
    font-weight: 400;

    width: 90%;
    margin-right: 5px;
    margin-left: 30px;
    overflow: hidden;
}


#search:focus{
    background-color: rgb(247,249,250);
    font-size: 14px;
}

#sz4{
border: 1px solid black;
padding: 8px 17px;
font-weight: 600;
}

#sz4:hover{
background-color: rgba(236, 236, 236, 0.803);
color: black;
}

#sz5{
border: 1px solid black;
padding: 8px 17px;
background-color: black;
color: white;
font-weight: 600;
}

#sz6{
border: 1px solid black;
padding: 5px 6px;
}
#sz6:hover{
background-color: rgba(236, 236, 236, 0.803);
color: black;
}

.navbarsz2{
    display: none;
}

/* ----------------xxx--------HEADER----------------------xxx----------------- */



/*----------------------------------Mid section content--------------- */

/* main div for mid content */
.Contentsn1{
width: 100%;
height: fit-content;
/* overflow:hidden; */
}

/* ----------------------------------------------------- */

/* 1 */
.consn2{
    /* border: 2px dotted rgb(255, 0, 200); */
    width: 86%;
    margin: auto;
}

.consn3{
position: absolute;
z-index: 1;
padding:25px;
margin: -325px 0 0px 50px;
width: 30%;
/* border: 2px dotted rgb(0, 153, 13); */
box-shadow: 1px 1px 7px grey;
background-color: white;
}

#sn3{
/* border: 1px dotted rgb(207, 20, 20); */
font-weight: 700;
font-size: 32px;
line-height: 40px;
color: #1c1d1f;
font-family: SuisseWorks, Georgia, Times, "times new roman", serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
}

#sn4{
/* border: 1px dotted rgb(20, 219, 33); */
font-weight: 500;
font-size: 16px;
line-height: 22px;
color: #1c1d1f;
font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
}


#sn5{
width: 100%;
position: relative;
z-index: -1;
/* border: 1px dotted rgb(255, 221, 0); */
overflow: hidden;

}


/* ----------------------------------- */
/* 2 */
.consn5{
    width: 86%;
    /* border: 3px solid powderblue; */
    padding: 50px 0 0 0;
    margin: auto;
}

#ae1{
font-size: 32px;
font-weight: 700;
color: #1c1d1f;
line-height: 40px;
font-family: SuisseWorks, Georgia, Times, "times new roman", serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
margin-bottom: 15px;
}

#ae2{
font-size: 19px;
font-weight: 400;
color: #1c1d1f;
line-height: 17px;
font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
margin-bottom: 15px;
}

#ae3{
    /* border: 2px dotted red; */
    margin-bottom: 10px;
    width: 100%;
    /* height: 24px;
    overflow: hidden; */
}

#ae3 > span{
font-size: 16px;
font-weight: 700;
color: #64666b;
line-height: 19px;
padding: 0 10px 0 5px;
font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
margin-bottom: 15px;
cursor: pointer;
}

#ae3 > span:hover{
    color: black;
}
#ae3 > #jpy{
    color: black;
}

/* #ae3i{
    position: relative;
    z-index: 1;
    float: right;
    margin-top: -25px;
    color: blue;
} */

.aex4{
    border: 1px solid rgba(151, 151, 151, 0.867);
    padding: 25px;
}

#ae4{
font-size: 24px;
font-weight: 700;
color: #1c1d1f;
line-height: 29px;
/* padding: 0 10px 0 5px; */
font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
margin-bottom: 10px;
}

#ae5{
font-size: 16px;
font-weight: 400;
color:#0c0c0c;
line-height: 22px;
/* padding: 0 10px 0 5px; */
font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
margin-bottom: 18px;
width: 64%;
}

#ae6{
    
}

#ae7{
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 5px 10px 5px;
    background-color: white;
    font-weight: 600;
    margin-bottom: 25px;
}


#ae8{
    
    width: 100%;
    background-color: #1c1d1f37;
    height: 250px;
    /*.......................Added.........................  */
}

/* 3 */
.consn6{
    width: 86%;
    margin: auto;
    margin-top: 65px;
}

#ae9{
font-size: 24px;
font-weight: 700;
color: #1c1d1f;
line-height: 29px;
/* padding: 0 10px 0 5px; */
font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
margin-bottom: 18px;
}

#ae10{
    width: 100%;
    background-color: #1c1d1f3d;
    height: 250px;
    margin-bottom: 20px;
}


/* 4 */
.consn7{
    width: 100%;
    margin: auto;
    background-color: rgb(247,249,250);
    padding: 20px 105px 20px 105px;
    margin-top: 100px;
}

.ae11{

}

#ae12{
font-size: 24px;
font-weight: 700;
color: #1c1d1f;
line-height: 29px;
/* padding: 0 10px 0 5px; */
font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
margin-bottom: 18px;
}

#ae13{
display: grid;
grid-template-columns: repeat(4, 1fr);
}

#ae13 > span{
font-size: 19px;
font-weight: 700;
color: #1c1d1f;
line-height: 23px;
font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
margin-bottom: 25px;
}

.ae14{
display: grid;
grid-template-columns: repeat(4, 1fr);
}

.ae14 > div > a > span{
display: block;
font-size: 16px;
font-weight: 700;
color: #1c1d1f;
line-height: 22px;
font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
margin-bottom: 10px;
color: #5426c8;
text-decoration: underline;
}

.ae14 > div > a > span:hover{
    color: #401b9c;
}

.ae14 > div >span{
display: block;
font-size: 14px;
font-weight: 400;
color: #6a6f73;
line-height: 20px;
font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
margin-bottom: 25px;
}

#ae15{
    border:1px solid rgb(33, 33, 33);
    padding: 12px 12px 12px 12px;
    background-color:white;
    font-weight:600;
    color:rgb(44, 44, 44);
}

#ae15:hover{
    background-color:rgba(132, 132, 132, 0.115);
}


/* 5 */

.consn8{
width: 100%;
margin-top: 50px;
/* padding: 70px 100px 50px 270px; */
/* border: 2px dotted darkcyan; */
overflow: hidden;
}

#consn9{
display:flex;
justify-content:space-evenly;
align-items: center;
width: 70%;
margin: auto;
/* border: 1px solid pink; */
}

#consn10{
    /* border: 2px dotted darkgoldenrod; */
    width: 38%;
    /* margin-left: 100px; */
}

#ae16{
    width: 100%;
    /* margin-right: 95px; */
}

#ae17{
/* border: 1px dotted rgb(207, 20, 20); */
font-weight: 700;
font-size: 32px;
line-height: 40px;
color: #1c1d1f;
font-family: SuisseWorks, Georgia, Times, "times new roman", serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
margin-bottom: 8px;
}

#ae18{
font-size: 19px;
font-weight: 400;
color: #1c1d1f;
line-height: 27px;
font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
margin-bottom: 15px;
}

#ae19{
padding: 10px 10px 10px 10px;
background-color: black;
color: white;
font-size: 18px;
font-weight: 600;
cursor: pointer;
}

#ae19:hover{
    background-color:rgba(0, 0, 0, 0.863);
}

.hidell2{
    display: none;
}


/* 6 */

.consn11{
width: 100%;
background-color: rgb(247,249,250);
margin-top: 60px;
text-align: center;
padding: 35px 0 35px 0;
}


#consn14{
font-size: 24px;
font-weight: 700;
color: #1c1d1f;
line-height: 32px;
font-family: SuisseWorks, Georgia, Times, "times new roman", serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
margin-bottom: 8px;
}

#consn15{
font-size: 16px;
font-weight: 400;
color: #1c1d1f;
line-height: 22px;
font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
margin-bottom: 25px;
}

.consn16{
display: flex;
justify-content:space-evenly;
align-items: center;
}






/*------------xxx-------------------Mid section content-------xxx----- */




/*-----------------------------------------Footer----------------------------------------------- */

.footersiz1{
background-color: rgb(28,29,31);
color: white;
/* border: 3px dotted rgb(254, 80, 0); */
padding: 25px 40px 25px 40px;
overflow: hidden;
width: 100%;
margin-top: 50px;
}

.footbox1 {
    /* background-color: rgba(240, 255, 255, 0.336); */
    display: flex;
    justify-content:flex-start;
    padding: 0 0 50px 0;
    /* border: 2px dotted green; */
}

.footbox1 > div{
    padding: 0 130px 0 0;
}


.footbox1 > div > a >  span {
    display: block;
    padding: 6px;
    color: white;
    /* margin-right: 50px; */
    /* border: 1px dotted yellow; */
}


.footbox1 >div > a> span:hover{
text-decoration: underline;
cursor: pointer;
}

#langsz1{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    border: 1px solid white;
    height: 40px;
    padding: 8px 20px;
    position: absolute;
    right: 0;
    margin-right: 40px;
}

#go1{
    margin-right: 8px;
}

.footbox1>#langsz1:hover{
background-color: rgba(139, 174, 191, 0.182);
}  
.footbox1 >#langsz1 > span:hover{
text-decoration: none;
}  




.footbox2{
display: flex;
justify-content:space-between;
align-items: center;
padding: 15px 5px 15px 15px;
/* border: 1px dotted rgb(221, 9, 9); */
}


.footbox2 > div{
display: flex;
justify-content: center;
align-items: center;
}

#copy1{
    font-size: 14px;
}

/*---------------xxxx----------------------Footer---------------------xxxxxx-------------------- */


/*  
FONT-FAMILY:---------
font-family: SuisseWorks, Georgia, Times, "times new roman", serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";

BACKGROUND-COLOR:-------

*/

/* RESPONSIVE------------------------------------------------------------------------------------------------------- */

/* NAVBAR-----------HEADER--------------------------------------------- */
/* normal  15 50 35 */

@media all and (min-width:1050px) and (max-width: 1370px) {

    .navbarsz > .navsz1{
        width: 15%;
    }

    .navbarsz > .navsz2{
        width: 40%;
    }

    .navbarsz > .navsz3{
        width: 45%;
    }

}

@media all and (min-width:970px) and (max-width: 1050px) {

    .navbarsz > .navsz1{
        width: 15%;
    }

    .navbarsz > .navsz2{
        width: 45%;
    }

    .navbarsz > .navsz3{
        width: 40%;
    }

    #imgslogo1{
        margin-left: 20px;
    }

    #sz-7{
        display: none;
    }

}

@media all and (min-width:820px) and (max-width: 970px) {

    .navbarsz > .navsz1{
        width: 20%;
    }

    .navbarsz > .navsz2{
        width: 50%;
    }

    .navbarsz > .navsz3{
        width: 30%;
    }

    #imgslogo1{
        margin-left: 20px;
    }

    #sz-7{
        display: none;
    }

    #sz-8{
        display: none;
    }

}

@media all and (max-width:820px) {

    .navbarsz{
        display: none;
    }

    .navbarsz2{
    display: flex; 
    justify-content:space-between;
    align-items: center;
    /* border: 2px dotted red; */
    padding: 10px 20px;
    box-shadow: 1px 1px 5px grey;
    width: 100%;
    }

    .navbarsz2 > div {
        cursor: pointer;
    }

}
/* NAVBAR------------------HEADER---------------------------------- */


@media all and (max-width:1350px) {

    .consn2{
    /* border: 2px dotted rgb(0, 112, 129); */
    width: 100%;
    margin: auto;
    }

    .consn3{
        position: absolute;
        z-index: 1;
        padding:25px;
        margin: -320px 0 0px 50px;
        width: 35%;
        /* border: 2px dotted rgb(0, 153, 13); */
        /* box-shadow: 1px 1px 7px grey; */
        background-color: white;
    }

}

@media all and (max-width: 1130px) {

    .consn3{
        margin: -250px 0 0px 50px;
    }


}

@media all and (max-width: 890px) {

            .consn3{
        position: relative;
        z-index: 0; 
        padding:10px;
        margin: 10px 0 0 0px;
        width: 100%;
        /* border: 2px dotted rgb(0, 0, 0); */
        box-shadow: 0 0 0 gray;
        }

        #sn3{
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
            color: #1c1d1f;
            font-family: SuisseWorks, Georgia, Times, "times new roman", serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";

        }

        #sn4{
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #1c1d1f;
            font-family: "udemy sans", "sf pro text", -apple-system, BlinkMacSystemFont, Roboto, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
        }

}

/* mid-content */

@media all and (max-width: 1000px) {


    /* 4 */
    .consn7{
        width: 100%;
    margin: auto;
    background-color: rgb(247,249,250);
    padding: 5px 5px 5px 15px;
    margin-top: 100px;
    }

    /* 5, 7, 8*/
        .consn8{
    width: 100%;
    margin-top: 50px;
    /* border: 2px dotted darkcyan; */
    overflow: hidden;
    margin: auto;
    text-align: center;
    }
    
    #consn9{
    display:block;
    width: 63%;
    margin: auto;
    /* border: 1px solid pink; */
    margin-top: 50px;
    }
    
    
    #ae16{
        width: 80%;
        margin: auto;
    }
    
    #consn10{
        width: 100%;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 30px;
    }
    
    .hidell1{
        display: none;
    }
    
    .hidell2{
        display: block;
    }


    /* 6 */
    .consn16{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    

}


/* footer */

@media all and (max-width: 830px) {

    .footbox1 {
        display: block;
    }

    #langsz1{
        position: relative;
        width: 150px;
        margin-bottom: 20px;
    }

    .footbox2 {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        padding: 0;
    }


}