* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: udemy sans, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
}

p {
  font-size: 14px;
  line-height: 22px;
}
/*   Product Description   */

#productDesc {
  background-color: #1c1d1f;
  width: 1519px;
  height: 295px;
  padding: 20px;
  color: white;
}

.product_Description {
  width: 700px;
  margin: 0 0 20px 150px;
  padding: 24px 0 16px 20px;
}

.priceDiv {
  margin-top: 20px;
}
/*   Price Description in the side   */

#prevPrice {
  position: absolute;
  top: 35px;
  left: 960px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* right: 50px; */
  /* position: -webkit-sticky; */
  /* position: sticky;
  float: left;
  top: 0; */
}

.previewBox {
  width: 340px;
  height: 190px;
  /* background-color: aqua; */
  background-image: url("https://img-b.udemycdn.com/course/240x135/625204_436a_3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-blend-mode:soft-light; */
  backface-visibility: visible;
  cursor: pointer;
  /* background-blend-mode: darken-both; */
  /* opacity: 0.8; */
  /* color: black; */
}

.previewBox img {
  width: 20%;
  /* margin: auto; */
  /* text-align: center; */
  position: relative;
  top: 30%;
  left: 40%;
  background-color: white;
  border-radius: 50%;
  /* border: none; */
}

.previewBox h3 {
  color: white;
  margin: 70px 0 0 80px;
}

.priceDesc {
  width: 340px;
  height: 548px;
  background-color: white;
  padding: 20px;
}

.price {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* margin-right: 0 10px 0 0; */
  /* padding: 20px 0 0 20px; */
}

.time {
  /* padding-left: 20px; */
  display: flex;
  align-items: center;
  align-content: center;
  color: #bd4a30;
  font-size: 14px;
  margin: 5px 0;
}

.price *,
.time * {
  margin-right: 6px;
}

.atc {
  display: flex;
  margin-top: 20px;
}

.crt {
  width: 82%;
  cursor: pointer;
  color: white;
  font-weight: 700;
  background-color: #a435f0;
  border: none;
  font-size: 16px;
}

.crt:hover {
  background-color: #8710d8;
}

.wslt {
  width: 15%;
  margin-left: 10px;
  cursor: pointer;
  /* border: none; */
  padding: 8px;
  border: 1px solid black;
  background-color: white;
}

.wslt:hover {
  background-color: #efefef;
}

.wslt img {
  width: 100%;
}

.buy-now {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
}

.buy-now:hover {
  background-color: #efefef;
}

.days30 {
  text-align: center;
  margin-top: 10px;
  font-size: 13px;
}

.courseInclude {
  margin-top: 20px;
}

.cid {
  display: flex;
  gap: 20px;
  margin-top: 8px;
}

.cid img {
  /* margin-right: 10px; */
  width: 5%;
}

.cid p {
  width: 90%;
  font-size: 14px;
}

.shareLink {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.shareLink a {
  color: black;
  font-size: 14px;
  font-weight: 700;
}

.business {
  width: 340px;
  height: 166px;
  background-color: white;
  padding: 20px;
}

.business p {
  margin-top: 5px;
  font-size: 14px;
  line-height: 20px;
}

/*   Course Contents */

#content {
  width: 1185px;
  background-color: white;
  margin: 0 168px 0 168px;
  padding: 32px 0 0 0;
  /* border: 1px solid black; */
}

.learningContent,
.companies {
  /* position: absolute; */
  /* left: 200px; */
  /* bottom: 10px; */
  width: 700px;
  /* height: 355px; */
  margin: 0 0 32px 20px;
  padding: 24px 0 16px 20px;
  background-color: white;
  border: 1px solid black;
  /* max-height:fit-content; */
  /* max-height: fit-content; */
  /* transform: scale(1, 1.5); */
}

.parentDesc {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */

  /* max-height: max-content; */
}

.description {
  /* width: 50%; */
  margin-top: 8px;
  display: flex;
}

.desc {
  /* width: 20px;
    height: 24px; */
  /* border: 1px solid black; */
  width: 80%;
  /* display: inline; */
}

.tick-sign {
  /* display: inline; */
  line-height: 20px;
  font-size: 14px;
  /* text-align: left; */
  width: 10%;
}

.seeMoreBtn,
.showLess {
  padding: 10px;
  font-size: 16px;
  white-space: nowrap;
  text-decoration: none;
  border: none;
  background-color: inherit;
  cursor: pointer;
  color: #5725d0;
  font-weight: 600;
}

.showLess {
  display: none;
}

.hiddenParent {
  display: none;
}

/* .companies {
    border: 1px solid black;
    width: 700px;
} */
.companies > p {
  font-size: 14px;
  padding-right: 10px;
  line-height: 20px;
}

.compImg {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
/* .hiddenFirst, .hiddenSecond {
    
} */

.courseContent {
  padding: 0 32px 0 24px;
}

.length {
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin: 20px 0;
}

#sections {
  width: 700px;
  /* border: 1px solid black; */
}

.contentBox {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #f7f9fa;
  cursor: pointer;
}

.topics {
  width: 70%;
  display: flex;
  align-items: center;
  align-content: center;
}

.topics > img {
  width: 2%;
  display: inline;
  margin-right: 20px;
}

.duration {
  width: 20%;
}

.hiddenContent {
  padding: 20px;
  border: 1px solid black;
  display: none;
  /* border-collapse:initial; */
  /* display: flex;
  justify-content: space-between; */
}

.hiddenContent img {
  width: 3%;
  margin-right: 20px;
}

.hiddenImgDur {
  display: flex;
  margin-bottom: 15px;
}

.hiddenImg {
  width: 75%;
  display: flex;
  align-items: center;
  align-content: center;
}

.hiddentLength {
  display: flex;
  width: 24%;
  justify-content: space-between;
}

/* .hiddentLength > p {
  margin-left: 32px;
} */

.sectionBtn {
  width: 100%;
  padding: 10px 20px;
  margin-top: 10px;
  font-weight: 700;
  font-size: 14px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

.sectionBtn:hover {
  background-color: #efefef;
}

.requirements {
  width: 700px;
  margin-top: 28px;
  /* border: 1px solid black; */
}

.requirements > ul:nth-child(2) {
  padding-left: 24px;
  margin-top: 20px;
}

li > p {
  margin-left: 10px;
  line-height: 28px;
}

.courseDescriptions {
  width: 700px;
  margin-top: 20px;
}

.courseDescriptions ul {
  padding-left: 24px;
  /* margin: 10px 0; */
  font-size: 14px;
  line-height: 24px;
  margin-top: 15px;
}

.courseDescriptions h4,
.courseDescriptions h2 {
  margin-top: 20px;
}

.hiddenDescription {
  display: none;
  margin-top: 0;
}

.courseDescriptions > p {
  line-height: 28px;
  margin-top: 10px;
}

.showDesc,
.hideDesc {
  padding: 10px;
  font-size: 16px;
  white-space: nowrap;
  text-decoration: none;
  border: none;
  background-color: inherit;
  cursor: pointer;
  color: #5725d0;
  font-weight: 600;
}

.hideDesc {
  display: none;
}

.featuredReview {
  width: 700px;
  border: 1px solid black;
  padding: 20px;
}

.profileDesc {
  display: flex;
  /* justify-content: start; */
  margin: 20px 0 10px 0;
}

.profileDesc img {
  border-radius: 50%;
  width: 10%;
  margin-right: 15px;
  /* justify-content: flex-end; */
  /* flex-direction: initial; */
}

.like-dislike-btn {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.like-dislike-btn img {
  width: 5%;
  margin-right: 10px;
  cursor: pointer;
}

.like-dislike-btn img:hover {
  background-color: #efefef;
}

.like-dislike-btn a {
  margin-left: 10px;
}

.studentAlsoBought {
  width: 700px;
  margin-top: 30px;
}

.DivDescPro {
  display: flex;
  margin-top: 20px;
}

.BoughtProDescDiv {
  display: flex;
  width: 380px;
  height: 80px;
}

.proImg {
  width: 15%;
  margin-right: 10px;
}

.proImg img {
  width: 100%;
  height: 70px;
}

.proDesc {
  width: 80%;
}

.proDesc h5:nth-child(2) {
  background-color: #eceb98;
  font-weight: 500;
  font-size: 12px;
  padding: 0 5px;
}

.ratingDesc {
  width: 80px;
  height: 80px;
  text-align: center;
  color: #bf7e31;
}

.viewCount {
  display: flex;
  align-items: flex-start;
  text-align: center;
  width: 120px;
  height: 80px;
}

.priceDescPro {
  display: flex;
  justify-content: space-between;
  width: 100px;
  height: 80px;
}

.priceDescPro h5 {
  width: 20%;
  margin-right: 30px;
}

.wishlist-Img {
  width: 70%;
}

.wishlist-Img img {
  width: 80%;
  margin-left: 18px;
}

.parentHidDivDescPro {
  display: none;
}

.studentAlsoBought button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  font-weight: 700;
  background-color: white;
  cursor: pointer;
  border: 1px solid black;
  margin-bottom: 20px;
}

.studentAlsoBought button:hover {
  background-color: #efefef;
}

.showLessDivProBtn {
  display: none;
}

.alsoBoughtTogether {
  width: 700px;
  border: 1px solid #9e9e9e;
  
}